# Ambientes virtuais
.venv/
venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Configurações de IDE
.idea/
.vscode/

# Variáveis de ambiente
.env

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db